.Aboutimagearea{
    background-image: url(../src/images/About.png);
    height: 50vh;
    /* border: 2px solid red; */
}

.Aboutimagearea p{
    padding: 10%;
    font-size: 50px;
    /* font-weight: bolder; */
    color: #cfd9e0;
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: bolder;
}

.Applybutton{
    font-size: large;
    transition-duration: 0.3s;
    cursor: pointer;
    background-color: #0F4065; 
    color:#ffffff;
    border: 2px solid #0F4065;  
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    padding: 1%;
    margin: auto;
}
  
.Applybutton:hover{
    /* background-image: linear-gradient(to right, rgba(29, 4, 250, 0.479), rgba(0, 162, 255, 0.849)); */
    color: #0F4065;
    box-shadow: 0px 1px 0px 0px rgba(8, 142, 252, 0.459);
    border: 2px solid #0F4065;
    background-color: #ffffff;
}

.founderbutton{
    font-size: large;
    transition-duration: 0.3s;
    cursor: pointer;
    color: #30D3F6;
    box-shadow: 0px 1px 0px 0px rgba(8, 142, 252, 0.459);
    border: 2px solid #30D3F6;
    background-color: #2d7fbe00;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    padding: 1%;
    margin: auto;
  
}
  
.founderbutton:hover{
    /* background-image: linear-gradient(to right, rgba(29, 4, 250, 0.479), rgba(0, 162, 255, 0.849)); */
    background-color: #55acee00;
    color: #ffffff;
    box-shadow: 0px 1px 0px 0px rgba(8, 142, 252, 0.459);
    /* border: 2px solid #55ACEE; */
    background-color: #30d2f6de;
}





.aboutusfounderimage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid chartreuse; */
    /* background-color: #08192B; */
}

.adesh{
    width: 50%;
    /* border: 2px solid chartreuse; */
    padding: 1%;
}

.adesh1{
    width: 50%;
    /* border: 2px solid firebrick; */
    padding: 1%;
    text-align: left;
    color: #0E2A47;
}

.aboutusfounderimage img{
    /* border: 2px solid red; */
    border-radius: 50%;
}


.aboutusfounderpara{
    width: 40%;
    border: 2px solid #f00808;
    justify-content: center;
    padding: 2%;
}


.aboutfounderheading a{
    color: rgb(58, 58, 184);
    text-decoration: none;
}


.descriptionheading{
    font-family: Arial, Helvetica, sans-serif;  
    font-weight: bolder; 
    text-align: center;
    /* border: 2px solid crimson; */
    font-size: xx-large;
    color: #0F4065;
    /* margin: 1%; */
    /* padding: 1%; */
}


 
@media screen and (min-width:1150px){
    .Aboutuspara{
        /* width: auto; */
        /* font-size: medium; */
        border: 2px solid crimson;
        /* text-align: left; */
        display: flex;
        flex-direction: column;
        /* justify-content: left; */
        text-align: left;
    }
    
    .aboutpara{
        text-align: left;
        /* margin-top: none; */
        /* border: 2px solid navy; */
        margin: auto;
    }

    .mainAboutfounder{
        /* border: 2px solid black; */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
        background-color: #0F4065;
        /* width: 50%; */

    }

    .aboutusfounderimage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border: 2px solid chartreuse; */
        align-items: center;
        width: 50%;
        /* margin-bottom: 2%; */
    }

    .aboutusfounderimage img{
        /* width: 50vh;
        height: 50vh; */
        margin: 1%;
        /* border:2px solid rgba(0, 102, 255, 0.445); */
    }

    .aboutusfounderpara{
        width: 60%;
        /* border: 2px solid crimson; */
    }
    
    .founderpara{
        text-align: right;
        /* border: 2px solid chartreuse; */
        margin: 1%; 
    }

    

    .ah3{
        /* border: 2px solid blue; */
        margin: 1%;
        color: #cfd9e0;
    }

}

@media screen and (max-width:1150px){
}
